<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=no" />
    <title><%= blgTitle %> @ Blog - Levy's Ink</title>

	<link href="css/general.font.css" rel='stylesheet' type='text/css'>
	<link href="css/general.layout.css" rel='stylesheet' type='text/css'>
	<link href="css/general.effect.css" rel='stylesheet' type='text/css'>
	<link href="css/rheader.layout.css" rel='stylesheet' type='text/css'>
	<link href="css/foghorn.css" rel='stylesheet' type='text/css'>
	<link href="iconfont/icomoon/style.css" rel='stylesheet' type='text/css'>
	<link href="iconfont/icomoon-sns/style.css" rel='stylesheet' type='text/css'>
	<link href="css/pdetail.css" rel='stylesheet' type='text/css'>

	<script type="text/javascript">
		var p_detail=<%- secureStr %>
	</script>
	<script type="text/javascript" src="js/jquery/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="js/jquery/jquery.mobile-events.min.js"></script>
	<script type="text/javascript" src="js/protocolDeclare.js"></script>
	<script type="text/javascript" src="js/functionhelper.js"></script>
	<script type="text/javascript" src="js/effecthelper.js"></script>
	<script type="text/javascript" src="js/rheader.js"></script>
    <script type="text/javascript" src="js/googleSta.js"></script>

	<link href="google-code-prettify/prettify.css" type="text/css" rel="stylesheet" />
	<script type="text/javascript" src="google-code-prettify/prettify.js"></script>

	<script type="text/javascript" src="/admin/pdetailadmin.js"></script>
	<script type="text/javascript" src="js/pdetail.js"></script>
</head>
<body>
	<div id="toTop" class="transit_in_position">
		<span class="icon-arrow-up2 mid-white-glyph"></span>
	</div>
    <div id="topInk">
		<div id="giPic" class="element_rel_stretch giPicIMG img_crop"></div>
		<div id="modPic" class="element_stretch modPicIMG img_crop"></div>
		<div id="latitle">
			<span id="bigtitle">
				Levy's ink.
			</span>
			<br/>
			<span id="smalltitle">
				Doodles, whimsy &amp; life.
			</span>
		</div>
		<div id="direct-panel">
			<div class="direct-panel-item transit_in_border" id="tab_me">
				<span class="direct-panel-item-text">About</span>
			</div>
			<div class="direct-panel-divisor">
			</div>
			<div class="direct-panel-item direct-panel-chosen transit_in_border" id="tab_blog">
				<span class="direct-panel-item-text">Blog</span>
			</div>
			<div class="direct-panel-divisor ">
			</div>
			<div class="direct-panel-item transit_in_border" id="tab_mess">
				<span class="direct-panel-item-text">Mess</span>
			</div>
		</div>

    </div>
	<div id="followedFrame">
		<div id="preInfo">
			<span class="icon-bookmark inlineblock tem_cata_tag codeStyle" style="color:rgb(232,17,35)"><span class="tem_cata">Catalog</span></span>
		</div>
		<div id="contentMain">
			<!---------------->
			<div class="strongRes" id="blogCont">
			<%- cont %>
			</div>

			<div class="placeholder-1-5em"></div>
			<div class="placeholder-3em" id="lafin"></div>
			<!--COMMENTS--><!--COMMENTS--><!--COMMENTS--><!--COMMENTS--><!--COMMENTS-->
				<div id="disqus_thread"></div>
				<script type="text/javascript">
					/* * * CONFIGURATION VARIABLES * * */
					var disqus_shortname = 'levysink';

					/* * * DON'T EDIT BELOW THIS LINE * * */
					(function() {
						var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
						dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
						(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
					})();
				</script>
				<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
			<!--COMMENTS--><!--COMMENTS--><!--COMMENTS--><!--COMMENTS--><!--COMMENTS-->
		</div>
		<div id="footer">
			<div id="outerLink">
				<p class="bigWrd">Links</p>
				<span class="inlineblock outerLinkEntry">
					<a href="https://academic.levy.at/en-us/">My Academic Page</a>
				</span>
				<span class="inlineblock outerLinkEntry">
					<a href="http://bowei.me/">bowei.me</a>
				</span>
				<span class="inlineblock outerLinkEntry">
					<a href="http://thucloud.com/">TNS-Cloud</a>
				</span>
			</div>
			<div class="px-20-placeholder"></div>
			<p>By Levy, 2016. Copyright reserved.</p>
			<div class="nonexist-noblock"><a href="/crawller">Crawller here.</a></div>
			<div class="px-20-placeholder"></div>
		</div>
	</div>

	<div id="floatBack" class="transit_in_opacity">
	</div>
</body>

</html>
