.blogentry_tem_con {
    position: relative;
}
.blogentry_tem_div {
    height: 2em;
    border-bottom: 1px solid transparent;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}
.blogentry_tem_con_div {
    border-top: 0.15em solid rgb(232,17,35);
    margin-bottom: 0.5em;
    width: 100%;
}
.leftmost {
    display: inline-block;
    float: left;
    border-bottom: 3px;
}
.rightmost {
    display: inline-block;
    float: right;
}
.afterfloat {
    clear:both;
    border-bottom: 0.1em solid transparent;
}

.codeStyle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}
.blogTitle {
    font-size: 1.8em;
    border-top: 0.2em solid transparent;
}
.peripheralTitle {
    font-size: 0.7em;
    color: #666666;
    text-align: left;
    line-height: 150%;
    border-bottom: 1.6em solid transparent;
    border-top: 2em solid transparent;
}
.line1px {
    border-bottom: 1px solid #CDCDCD;
}
.blog_title_div {
    height: 2em;
}
.inlineb {
    display: inline-block;
}
.indent1em {
    border-left: 1em solid transparent;
}
.reserve4em {
    border-right: 4em solid transparent;
}
.blogentry_titleboard {
    background-color: white;
    box-shadow: 0.2em 0.2em 0.1em grey;
}
.tem_cata {
    font-family: "custom-content1", "stsong", Times;
}

.looseText {
    border-left:0.7em solid transparent;
    border-right:0.7em solid transparent;
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
}
#blogentry_template {
    visibility: hidden;
    height: 0px;
    overflow: hidden;
}

#loadingFrame {
    width: 100%;
    background-color: rgba(100,188,200,0.1);
    border-radius: 0.1em;
    overflow: hidden;
    height: 0;
}
#errorFrame {
    width: 100%;
    background-color: rgba(200,0,0,0.1);
    border-radius: 0.1em;
    overflow: hidden;
    height: 0;
}
#loadingFrame_pic {
    width: 1em;
    height: 1em;
}

.em-2-placeholder {
    height: 2em;
}
.bigButton {
    box-shadow: 0 0 0.1em black;
    border-radius: 0.1em;
    text-align: center;
    width: 5em;
    height: 2em;
    border: 1px solid black;
    position: relative;
    cursor:default;
    transition: top 0.30s ease-in-out, color 0.30s ease-in-out;
    -webkit-transition: top 0.30s ease-in-out, color 0.30s ease-in-out;
    -ms-transition: top 0.30s ease-in-out, color 0.30s ease-in-out;
    -moz-transition: top 0.30s ease-in-out, color 0.30s ease-in-out;
}
.activeButton {
    top: 0;
    color: black;
    background-color: white;
}
.activeButton:hover {
    top: -0.2em;
    color: #2484c1;
    background-color: white;
}
.disButton {
    border-color: #EEEEEE;
    color: #AAAAAA;
    background-color: #EEEEEE;
}
#lastPage {
    float: left;
}
#nextPage {
    float: right;
}

#choosePage {
    position: absolute;
    border-radius: 0.3em;
    border: 1px solid white;
    box-shadow:0px 0px 0.2em white;
    width: 50%;
    color: white;
    min-width: 320px;
}
.choiceBox {
    border-radius: 0.3em;
    border: 1px solid white;
    box-shadow:0px 0px 0.2em white;
    text-align: center;
    width: 2em;
    height: 2em;
    margin-right: 1.2em;
    margin-bottom: 1.2em;
    display: inline-block;
    cursor:default;
}
.choiceBox:hover {
    border: 1px solid #00bcf2;
    color: #00bcf2;
    box-shadow:0px 0px 0.2em #00bcf2;
}
.bluechoiceBox {
    border: 1px solid #00bcf2;
    color: #00bcf2;
    box-shadow:0px 0px 0.2em #00bcf2;
}
.cbcontent {
    position: relative;
    text-align: center;
    left: 0;
    width: 100%;
    top:0.5em;
}
#cp_container {
    border: 0.5em solid transparent;
}
#choiceBoxTemplate {
    visibility: hidden;
    overflow: hidden;
    width: 0;
    height: 0;
}

#condline {
    font-weight: normal;
	font-weight: bold;
	margin-top:1em;
    border-top: 0.5em solid transparent;
    border-bottom: 0.5em solid transparent;
}
#condline:hover {
    box-shadow: 0 0 0.5em red;
    border-radius: 0.2em;
}

#refbut {
    color: #888888;
}
#refbut:hover {
    color: #AAAAAA;
}
