#contentMain {
    overflow-x: auto !important;
    background-color: #eeeeee !important;
    max-width: 65.5em !important;
}

body {
    background-color: #eeeeee !important;
}

#commentsCanvas {
    width: 100%;
    /*background-color: #DDDDDD;*/
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    cursor: crosshair;

    border-top: dashed #dedede;
}

@media screen and (max-width: 1000px) {
    #commentsCanvas {
        overflow-x: auto !important;
    }
}

.elemTile a {
    color: inherit !important;
    text-decoration: underline !important;
}
.elemTile {
    background: white;
    border-radius: 0.2em;
    box-shadow: 0.1em 0.1em 0.2em #999;
    position: absolute;
    cursor: default;
    z-index: 10;

    font-size: 0.9em;
    font-family: "微软雅黑", "黑体", SimHei, Arial, Helvetica, sans-serif;

    transition:         left 0.30s ease-out,right 0.30s ease-out,top 0.30s ease-out,bottom 0.30s ease-out;
    -webkit-transition: left 0.30s ease-out,right 0.30s ease-out,top 0.30s ease-out,bottom 0.30s ease-out;
    -ms-transition:     left 0.30s ease-out,right 0.30s ease-out,top 0.30s ease-out,bottom 0.30s ease-out;
    -moz-transition:    left 0.30s ease-out,right 0.30s ease-out,top 0.30s ease-out,bottom 0.30s ease-out;

}

.normalTransit {
    transition:         left 0.50s linear,right 0.50s linear,top 0.50s linear,bottom 0.50s linear;
    -webkit-transition: left 0.50s linear,right 0.50s linear,top 0.50s linear,bottom 0.50s linear;
    -ms-transition:     left 0.50s linear,right 0.50s linear,top 0.50s linear,bottom 0.50s linear;
    -moz-transition:    left 0.50s linear,right 0.50s linear,top 0.50s linear,bottom 0.50s linear;
}

.regulateFormat {
    background: white;
    border-radius: 0.2em;
    box-shadow: 0.1em 0.1em 0.2em #999;
    cursor: default;

    font-size: 0.7em;
    font-family: "微软雅黑", "黑体", SimHei, Arial, Helvetica, sans-serif;
}
.tileUndeclared {
    background: transparent;
    border: 0.2em dashed #ccc;
    box-shadow: 0 0 0;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../image/blocked.png);
}
.tileJustPut {
    background: transparent;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 0;
}
.normalText {
    white-space: pre-wrap;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
}

.slowTransit {
    transition: height 1.2s ease-out, width 1.2s ease-out, opacity 0.2s ease-out;
    -webkit-transition: height 1.2s ease-out, width 1.2s ease-out, opacity 0.2s ease-out;
    -ms-transition: height 1.2s ease-out, width 1.2s ease-out, opacity 0.2s ease-out;
    -moz-transition: height 1.2s ease-out, width 1.2s ease-out, opacity 0.2s ease-out;
}
#demoTile {
    background: transparent;
    border: 0.2em dashed #ccc;
    box-shadow: 0 0 0;
    position: relative;
    left: 300px;
    top: 35px;
    width: 0px;
    height: 0px;
    opacity: 0;
    overflow: visible;
    z-index: 0;
    text-align: center;
}
.activedemoTile {
    width: 400px !important;
    height: 130px !important;
}
#demomouse {
    position: absolute;
    left: 100%;
    top: 100%;
}
#democap {
    font-family: Tahoma, Geneva, sans-serif;
    color: #aaa;
    position: relative;
    top: 40px;
    opacity: 0;
}
.activedemocap {
    opacity: 1 !important;
}

#shadowSelect {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    z-index: 20;
}

#editTile {
    left: 0px;
    top: 0px;
    width: 100px;
    height: 70px;
    z-index: 15;
    background-size: cover;
    visibility: hidden;

    transition:         none !important;
    -webkit-transition: none !important;
    -ms-transition:     none !important;
    -moz-transition:    none !important;
}

#editTileText {
    resize: none;
    border: 0px transparent;
    background-color: transparent;
    padding: 10px;

    width: 90%;/*写给不支持calc()的浏览器*/
	width: -moz-calc(100% - 10px * 2);
	width: -webkit-calc(100% - 10px * 2);
	width: calc(100% - 10px * 2);

    height: 90%;/*写给不支持calc()的浏览器*/
	height:-moz-calc(100% - 10px * 2);
	height:-webkit-calc(100% - 10px * 2);
	height: calc(100% - 10px * 2);

    font-family: "微软雅黑", "黑体", SimHei, Arial, Helvetica, sans-serif;
}
#editTileText:hover,
#editTileText:active,
#editTileText:focus {
    outline: 0px !important;
    -webkit-appearance: none;
    border: 0px transparent;
}

.fullStretch {
    padding: 10px;

    width: 90%;/*写给不支持calc()的浏览器*/
    width: -moz-calc(100% - 10px * 2);
    width: -webkit-calc(100% - 10px * 2);
    width: calc(100% - 10px * 2);

    height: 90%;/*写给不支持calc()的浏览器*/
    height:-moz-calc(100% - 10px * 2);
    height:-webkit-calc(100% - 10px * 2);
    height: calc(100% - 10px * 2);
    overflow-y: auto;
}

.hoverRed:hover {
    box-shadow: 0em 0em 1em red;
}

#footer {
    border-top: 1px solid #cccccc !important;
    max-width: 60em;
}

#contentMain {
    border-bottom: 0em solid transparent;
}

.tileStyle0 {
}
.tileStyle1 {
    background-color: #777;
    color: white;
    font-size: 0.78em;
}
.tileStyle2 {
    background-color: #607D8B;
    color: white;
    font-size: 0.78em;
}
