.element_stretch {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}
.element_rel_stretch {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.px-20-placeholder
{
    width: 100%;
    height: 20px;
}
.ful_collapse {
    height: 0;
    overflow: hidden;
}
