.transit_in_opacity {
    transition: opacity 0.30s ease-in-out;
    -webkit-transition: opacity 0.30s ease-in-out;
    -ms-transition: opacity 0.30s ease-in-out;
    -moz-transition: opacity 0.30s ease-in-out;
}
.transit_in_border {
    transition: border 0.30s ease-in-out;
    -webkit-transition: border 0.30s ease-in-out;
    -ms-transition: border 0.30s ease-in-out;
    -moz-transition: border 0.30s ease-in-out;
}
.transit_in_color {
    transition: color 0.30s ease-in-out;
    -webkit-transition: color 0.30s ease-in-out;
    -ms-transition: color 0.30s ease-in-out;
    -moz-transition: color 0.30s ease-in-out;
}
.transit_in_boxshadow {
    transition: box-shadow 0.30s ease-in-out;
    -webkit-transition: box-shadow 0.30s ease-in-out;
    -ms-transition: box-shadow 0.30s ease-in-out;
    -moz-transition: box-shadow 0.30s ease-in-out;
}
.transit_in_position {
    transition: left 0.30s ease-out,right 0.30s ease-out,top 0.30s ease-out,bottom 0.30s ease-out;
    -webkit-transition: left 0.30s ease-out,right 0.30s ease-out,top 0.30s ease-out,bottom 0.30s ease-out;
    -ms-transition: left 0.30s ease-out,right 0.30s ease-out,top 0.30s ease-out,bottom 0.30s ease-out;
    -moz-transition: left 0.30s ease-out,right 0.30s ease-out,top 0.30s ease-out,bottom 0.30s ease-out;

    transition: left 0.30s cubic-bezier(0.07, 0.73, 0.45, 1.04),right 0.30s cubic-bezier(0.07, 0.73, 0.45, 1.04),top 0.30s cubic-bezier(0.07, 0.73, 0.45, 1.04),bottom 0.30s cubic-bezier(0.07, 0.73, 0.45, 1.04);
    -webkit-transition: left 0.30s cubic-bezier(0.07, 0.73, 0.45, 1.04),right 0.30s cubic-bezier(0.07, 0.73, 0.45, 1.04),top 0.30s cubic-bezier(0.07, 0.73, 0.45, 1.04),bottom 0.30s cubic-bezier(0.07, 0.73, 0.45, 1.04);
    -ms-transition: left 0.30s cubic-bezier(0.07, 0.73, 0.45, 1.04),right 0.30s cubic-bezier(0.07, 0.73, 0.45, 1.04),top 0.30s cubic-bezier(0.07, 0.73, 0.45, 1.04),bottom 0.30s cubic-bezier(0.07, 0.73, 0.45, 1.04);
    -moz-transition: left 0.30s cubic-bezier(0.07, 0.73, 0.45, 1.04),right 0.30s cubic-bezier(0.07, 0.73, 0.45, 1.04),top 0.30s cubic-bezier(0.07, 0.73, 0.45, 1.04),bottom 0.30s cubic-bezier(0.07, 0.73, 0.45, 1.04);
}
.transit_in_size {
    transition: width 0.30s ease-in-out,height 0.30s ease-in-out;
    -webkit-transition: width 0.30s ease-in-out,height 0.30s ease-in-out;
    -ms-transition: width 0.30s ease-in-out,height 0.30s ease-in-out;
    -moz-transition: width 0.30s ease-in-out,height 0.30s ease-in-out;
}
.transit_in_bgcolor {
    transition: backgound-color 0.30s ease-in-out;
    -webkit-transition: backgound-color 0.30s ease-in-out;
    -ms-transition: backgound-color 0.30s ease-in-out;
    -moz-transition: backgound-color 0.30s ease-in-out;
}
.transit_all {
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
}

.blur_5px {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.no-indent-ul {
    list-style: none;
}
.no_effect_a {
    text-decoration: none !important;
    color: inherit !important;
}
.no_effect_a:hover {
    text-decoration: none !important;
    color: #2484c1 !important;
}
.nil_a {
    text-decoration: none !important;
    color: inherit !important;
}
.nil_a:hover {
    text-decoration: none !important;
    color: inherit !important;
}

.nonexist {
    opacity: 0;
    pointer-events:none;
}
.nonexist-noblock {
    opacity: 0;
    pointer-events:none;
    position: absolute;
}

.glowTextArea {
     resize: none;
     border: solid 1px #AAAAAA;
     border-radius: 0.3em;
     box-shadow: 0 0 0.4em #AAAAAA;
}
.glowTextArea:focus {
     border-color: rgb(0,188,142);
     box-shadow: 0 0 0.4em rgb(0,188,142);
}
.flatTextArea {
     resize: none;
     border: solid 1px #AAAAAA;
     padding: 0.5em;
     background: #EEEEEE;
     -webkit-appearance:none;
     tab-size: 4;
}
.flatTextArea:hover,
.flatTextArea:active,
.flatTextArea:focus {
     outline:0px !important;
     -webkit-appearance:none;
}
.flatTextArea:active,
.flatTextArea:focus {
    background: white;
}

.normalCursor {
    cursor: default;
}
.strongRes img {
    max-width: 100%;
}

.vertical-align {
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}
.unselectable {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
