@font-face {
    font-family: 'Perpetua-b';
    src: url('../font/PER.TTF');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: custom-content1
	src: local("华文宋体")
	unicode-range: U+4E00-9FFF
}
@font-face {
	font-family: custom-content1
	src: url('../font/Vollkorn-Regular.ttf');
	unicode-range: U+00-024F
}
