#MainPanel {
    text-align: center;
    margin:auto;
    font-size: 1.3em;
}
.inp2 {
    width: 75%;
    font-size: 0.9em;
    display: inline-block;
}
.bigButton {
    border-radius: 0.1em;
    text-align: center;
    padding: 6px;
    width: 5em;
    font-size: 0.95em;
    border: 1px solid black;
    position: relative;
    cursor:default;
}
.bigButton-blue {
    background: #4d90fe;
    border: 1px solid #3079ed;
    color: white;
}
.bigButton-blue-dark {
    background: #3079ed;
    border: 1px solid #3079ed;
    color: #DDD;
}
.bigButton-blue:hover {
    background: #4787ed;
    border: 1px solid #3079ed;
    color: white;
}
.activeButton {
    top: 0;
    color: black;
    background-color: white;
}
.activeButton:hover {
    top: -0.2em;
    color: #2484c1;
    background-color: white;
}
.errorInfo {
    color:red;
}
.rightInfo {
    color:green;
}

.row-holder-2em {
    height: 2em;
}
.row-holder-1em {
    height: 1em;
}
.white-card {
    max-width: 20em;
    width: 85%;
    background: white;
    border-radius: 0.2em;
    box-shadow: 0.1em 0.1em 0.2em #999;
    margin: 0 auto;
}
.white-card-container {
    padding: 1em;
}
.tit {
    font-family: "Perpetua-b","Times";
    color: #333333;
    font-size: 2em;

}
.big-3-margin {
    font-size: 3.5em;
    padding: 0.2em;
}
