.big-gray-glyph {
    font-size: 3em;
    color: #888888;
    margin-right: 50px;
    transition: color 0.30s ease-in-out;
    -webkit-transition: color 0.30s ease-in-out;
    -moz-transition: color 0.30s ease-in-out;
}
.big-gray-glyph:hover {
    color: #00bcf2;
}

#contactList {
    line-height: 300%;
}
