#preInfo {
        padding-left:1em;
        padding-right:1em;
        margin:auto;
        max-width:42em;
        background:#fefefe;
    	color: #333;
    	text-align: justify;
        word-break: break-all;
        font-size: 1.20em;
}
.byline {
    color: #888888;
}
.placeholder-3em {
    height: 3em;
}
.placeholder-1-5em {
    height: 3em;
}

.editButton {
    color: #2484c1 !important;
    display: inline-block;
}
