#topInk {
    position:absolute;
    width:100%;
    top:0px;
    left:0px;
    background: #444444;
    overflow: hidden;
    min-width: 320px;
    height: 32.8125vw;
    min-height: 278px;
}
#catFrame {
    height: 32.8125vw;
    min-height: 278px;
}
#followedFrame {
    position:relative;
    width:95%;
    top: 50px;
    margin: auto;
}
#latitle {
    position: absolute;
    bottom: 1px;
    left: 20px;
    right: 20px;
}
#bigtitle {
    font-family: "Perpetua-b","Times";
    font-size: 100px;
    color: white;
    white-space: nowrap;
}
#smalltitle {
    font-family: "Perpetua-b","Times";
    font-size: 30px;
    color: white;
    white-space: nowrap;
}

#direct-panel {
    position: absolute;
    right: 20px;
    width: 300px;
    bottom: 0px;
    height: 35px;
}
.direct-panel-item {
    float:left;
    width: 96px;
    height:100%;

    border-top: 3px solid rgba(255,255,255,0.3);
}
.direct-panel-item:hover {
    border-top: 3px solid rgba(255,255,255,0.7);
}
.direct-panel-chosen {
    border-top: 3px solid rgba(255,255,255,1);
}
.direct-panel-chosen:hover {
    border-top: 3px solid rgba(255,255,255,1);
}
.direct-panel-divisor
{
    float:left;
    width: 6px;
    height:100%;
}
.direct-panel-item-text {
    text-align: center;
    font-family: "Perpetua-b","Times";
    font-size: 20px;
    color: #DEDEDE;

    position: absolute;
    bottom: 0px;
    width: 96px;

    text-decoration: none !important;
}
.direct-panel-chosen .direct-panel-item-text {
    color: white;
}
.direct-panel-item-text:hover {
    color: white;
}
.direct-panel-item-mask {
}

@media screen and (max-width: 850px) {
    #latitle {
        bottom: 56px;
        text-align: center;
    }
    #direct-panel {
        right: calc( 50% - 150px );
    }
}
@media screen and (max-width: 600px) {
    #smalltitle {
        font-size: 20px;
        font-size: 4.5vw;
    }
}
@media screen and (max-width: 500px) {
    #bigtitle {
        font-size: 65px;
        font-size: 19vw;
    }
    #smalltitle {
        visibility: collapse;
        position: absolute;
    }
}
#footer {
    margin-top: 20px;
    border-top: 1px solid #EFEFEF;
    max-width: 42em;
    width: 100%;
    margin: auto;
    font: 1.2em "custom-content1", Times;
    color: #888888;
}
#footer p {
    width: 100%;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    color: #BABABA;
}

#outerLink p {
    text-align: left;
}

.bigWrd {
    font-size: 1em !important;
}
.outerLinkEntry {
    font-family: Arial, Helvetica, "微软雅黑", "黑体", SimHei, sans-serif;
    font-size: 0.8em;
    padding-bottom: 0.3em;
    min-width: 32%;
}
@media screen and (max-width: 880px) {
    .outerLinkEntry {
        min-width: 49%;
    }
}
@media screen and (max-width: 500px) {
    .outerLinkEntry {
        min-width: 98%;
    }
}
.outerLinkEntry a {
    text-decoration: none !important;
    color: inherit;
}
.outerLinkEntry a:hover {
    color: #2484c1;
}

#toTop {
    position: fixed;
    z-index: 99;
    right: 2em;
    width: 4em;
    height: 4em;
    top: -4em;
    background-color: #333;
    box-shadow: 0em 0.1em 0.2em black;
}
.mid-white-glyph {
    font-size: 2em;
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    color: #FFFFFF;
}

#floatBack {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 100;
    pointer-events:none;
    opacity: 0;
}
