#topInk {
    position:absolute;
    width:100%;
    top:0px;
    left:0px;
    background: #444444;
    overflow: hidden;
}
#followedFrame {
    position:relative;
    width:95%;
    top:0px;
    margin: auto;
    background: #FFFFFF;
}
#latitle {
    position: absolute;
    bottom: 1px;
    left: 20px;
    right: 20px;
}
#bigtitle {
    font-family: "Perpetua-b","Times";
    font-size: 100px;
    color: white;
    white-space: nowrap;
}
#smalltitle {
    font-family: "Perpetua-b","Times";
    font-size: 30px;
    color: white;
    white-space: nowrap;
}

#direct-panel {
    position: absolute;
    right: 20px;
    width: 300px;
    bottom: 0px;
    height: 35px;
}
.direct-panel-item {
    float:left;
    width: 96px;
    height:100%;

    border-top: 3px solid rgba(255,255,255,0.3);
}
.direct-panel-item:hover {
    border-top: 3px solid rgba(255,255,255,0.7);
}
.direct-panel-chosen {
    border-top: 3px solid rgba(255,255,255,1);
}
.direct-panel-chosen:hover {
    border-top: 3px solid rgba(255,255,255,1);
}
.direct-panel-divisor
{
    float:left;
    width: 6px;
    height:100%;
}
.direct-panel-item-text {
    text-align: center;
    font-family: "Perpetua-b","Times";
    font-size: 20px;
    color: white;

    position: absolute;
    bottom: 0px;
    width: 96px;
}
.direct-panel-item-mask {
}

#footer {
    border-top: 1px solid #AAAAAA;
    max-width: 42em;
    width: 100%;
    margin: auto;
}

#toTop {
    position: fixed;
    z-index: 100;
    right: 2em;
    width: 2em;
    height: 2em;
    top: 0;
    background-color: #000000;
    opacity: 0.7;
}
