.showAndEdit {
    resize: none;
    border: solid 1px transparent;
    padding: 0.05em;
    border-bottom: solid 1px #999;
    background: transparent;
    -webkit-appearance: none;
    tab-size: 4;
    font-family: "custom-content1", 'Noto Sans SC', "stsong", Times;
    font-size: 1em;
    color: #555;
    height: 1.3em;
    display: inline-block;
    vertical-align: bottom;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}
.showAndEdit:focus {
    border-bottom: solid 1px #2196F3;
    color: #333;
}
.showAndEdit:hover, .showAndEdit:active, .showAndEdit:focus {
    outline: 0px !important;
    -webkit-appearance: none;
}

.byline {
    color: #888;
}
.bigButton {
    border-radius: 0.1em;
    display: inline-block;
    text-align: center;
    min-width: 5em;
    height: 2em;
    border: 1px solid #777;
    padding-left: 0.7em;
    padding-right: 0.7em;
    padding-top: 0.4em;
    padding-bottom: 0.24em;
    position: relative;
    cursor:default;
    transition: top 0.30s ease-in-out, color 0.30s ease-in-out;
    -webkit-transition: top 0.30s ease-in-out, color 0.30s ease-in-out;
    -ms-transition: top 0.30s ease-in-out, color 0.30s ease-in-out;
    -moz-transition: top 0.30s ease-in-out, color 0.30s ease-in-out;
}
@media screen and (max-width: 720px) {
    .bigButton {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}

.activeButton {
    top: 0;
    color: black;
    background-color: white;
    cursor: pointer;
}
.activeButton:hover {
    background: #e0e0e0;
}
